<%= link_to 'Login with Facebook', auth_at_provider_path(:provider => :line) %>
<div class="line-it-button" data-lang="ja" data-type="friend" data-env="REAL"   data-lineId="@697scapx" style="display: none;"></div>
<script src="https://www.line-website.com/social-plugins/js/thirdparty/loader.min.js" async="async" defer="defer"></script>