section.py-1.bg-gray-100
  .w-full.px-4.mx-auto.mt-6 class="lg:w-2/12"
    .relative.flex.flex-col.min-w-0.break-words.w-full.mb-6.shadow-lg.rounded-lg.bg-bluegray-100.border-0
      .rounded-t.bg-white.mb-0.px-6.py-6
        .text-center.flex.justify-between
          h6.text-blueGray-700.text-xl.font-bold
            | イベント作成
      .flex-auto.lg:py-10.pt-50
        .flex.flex-wrap
          .w-full.px-2
            .relative
              = form_with(model: [@circle, @event], local: true) do |f|
                = f.label :name
                = f.text_field :name, class: "border-0 px-3 py-3 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                .relative.py-2
                  = f.label :event_at
                  = f.date_field :event_at, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :event_time
                  = f.time_field :event_time, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :place
                  = f.text_field :place, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :event_fee
                  = f.number_field :event_fee, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :people_limit_num
                  = f.number_field :people_limit_num, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :limit_answer_at
                  = f.date_field :limit_answer_at, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10"
                .relative.py-2
                  = f.label :note
                  = f.text_area :note, class: "border-0 px-3 py-1 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-10", style: "height: 91px;"
                = f.submit class: "px-4 py-2 rounded-md text-sm font-medium border shadow focus:outline-none focus:ring transition text-white bg-blue-700 active:bg-yellow-200 focus:ring-yellow-300"
