@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import 'other_image_preview';
@import 'humburger';
@import 'shuffle';
@import 'attendance_state';

@layer base {
  .form-control {
    @apply border-0 px-3 py-3 placeholder-bluegray-300 text-bluegray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150
  }

  .form-submit {
    @apply px-4 py-2 rounded-md text-sm font-medium border shadow focus:outline-none focus:ring transition text-white bg-blue-700 lg:w-2/12
  }

  .background-form-1 {
    @apply bg-gray-200 pb-11 flex flex-col min-h-screen
  }

  .background-form-2 {
    @apply w-full px-4 mx-auto mt-6
  }

  .background-form-3 {
    @apply relative flex flex-col break-words w-full mb-6 shadow-lg rounded-lg bg-bluegray-100 border-0
  }

  .title-form-1 {
    @apply rounded-t bg-white mb-0 px-6 py-6
  }

  .title-form-2 {
    @apply text-center flex justify-between
  }

  .shuffle-badge {
    @apply absolute top-0 inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 transform bg-red-600 rounded-full -translate-x-7 -translate-y-4
  }

}
