@layer base {
  .court {
    @apply flex justify-center mb-2
  }

  .court-center {
    @apply bg-green-600 border-solid border-l-2 border-r-2 border-white w-10 h-40 flex
  }

  .lhup {
    @apply bg-green-600 border-solid border-b-2 border-white w-40 h-20 flex justify-center
  }

  .lhlo {
    @apply bg-green-600 border-solid border-t-2 border-white w-40 h-20 flex justify-center
  }

  .rhup {
    @apply bg-green-600 border-solid border-b-2 border-white w-40 h-20 flex justify-center
  }

  .rhlo {
    @apply bg-green-600 border-solid border-t-2 border-white w-40 h-20 flex justify-center
  }

  .shuffle-page-button {
    @apply text-white text-sm font-bold py-2 px-1 mx-1 rounded-full
  }

  .bench {
    @apply mt-3 px-2 flex justify-center flex-wrap gap-3
  }

  .player {
    @apply bg-blue-700 text-white rounded-full py-2 px-4 m-auto
  }

  .player-name {
    @apply relative inline-block
  }
}
